body,html {
    padding: 0;
    margin: 0;
    display: grid;
    background-color: #C4ACEE;
}

.menu{
    width:90%;
    height: 40px;
    margin-left:5%;
    background-color:#1A3BE1;
}
.splashimage{
    width:90%;
    margin-left:5%;
    background-color:#A77DEF;
    height:500px;
}

.new_products{
    width:90%;
    margin-left:5%;
    margin-top:10px;
    height:700px;
    background-color:#5A6DCD;
    position:relative;
}

.shop_box{
    height:80%;
    width:60%;
    margin-top:90px;
    margin-left:20%;
    background-color:#A093F6;
    position:absolute;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100;
    grid-gap: 5px;
}

.column{
    background-color:#61D5EE;
    margin-left:10%;
    width:80%;
}

.newsletter{
    width:90%;
    margin-left:5%;
    height:200px;
    background-color:#3838B8;
}

.footer{
    width:90%;
    margin-left:5%;
    height:40px;
    background-color:#B669E9;
}