body,html {
    padding: 0;
    margin: 0;
    display:grid;
    background-color: #E0CCFF;
}

.menu{
    height: 30px;
    background-color:#906DC4;
    position:relative;
}

.button{
    margin-left:45%;
    height:30px;
    width:15%;
    background-color:#7B48C8;
    position:absolute;
}

.main{
    height:500px;
    width:70%;
    background-color:#9C5AFF;
    margin-top:10px;
    margin-left:18%;
    position: relative;
}

.links{
    height:430px;
    width:95%;
    margin-top:10px;
    margin-left:2.5%;
    position:absolute;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    grid-gap: 1rem;
}

.item{
    background-color:#B395E3;
}

.footer{
    margin-top:516px;
    height:30px;
    background-color:#6C47A8;
}