@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body, html{
    background-color: #a06e6f;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    display: grid;

}

.name{
    color:#ffffd8;
    font-size:3em;
    text-align: center;


}