body{
    background-color:#F9F9F9;
    font-family: 'Nanum Gothic', sans-serif;
}

.bcopy{
    color: #29151A;
    font-size: 16px;
}

a{
    color:#29151A;;
    text-decoration:none;
}

a:hover{
    color:#AE3857;
    text-decoration:none;
    font-weight: bold;
}

.active{
    color:#EA547C;
    text-decoration:none;
}

.menubar{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top:25px;
    margin-left: 15px;
}

.logo{
    grid-column-start: 1;
    grid-column-end: 1;

}

.myLinks{
    grid-column-start:2;
    grid-column-end: 2;
    justify-self:end;
}

.linkgrid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}

.link1{
    grid-column-start:1;
    grid-column-end:1;
    align-self:end;
}

.link2{
    grid-column-start:2;
    grid-column-end:2;
    margin-left:15%;
    align-self:end;
}

.link3{
    grid-column-start:3;
    grid-column-end:3;
    align-self:end;
}

.link4{
    grid-column-start:4;
    grid-column-end:4;
    align-self:end;
}


.maingrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap:14px;
    grid-row-gap: 14px;
    width: 90%;
    margin-top: 10px;
    margin-left:5%;
}

.project1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.img_container{
    position:relative;
    width:100%;
}

.image{
    display:block;
    width:100%;
    height:auto;
}

.overlay{
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #F1F1F1;
}

.img_container:hover .overlay{
    opacity: 1;
}

.text {
    color: #EA547C;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .firstword{
      font-weight: bold;
      font-size: 30px;
  }

  .aboutgrid{
      display: grid;
      grid-template-columns: 500px 500px;
      grid-column-gap: 13px;
      margin-left: 20%;
      margin-top: 5%;
  }

  .photo{
      grid-column-start: 1;
      grid-column-end: 1;
  }

  .abtphoto{
    width:500px;
  }

  .biotext{
      grid-column-start: 2;
      grid-column-end: 2;
  }

  .line{ 
      background-color: #EA547C;
      height: 2px;
      width: 500px;
  }


  /* FOR MOBILE LAYOUT */
  @media only screen and (max-width:800px){
    /* for main page */
    .maingrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-row-gap: 14px;
        width: 90%;
        margin-top: 10px;
        margin-left:5%;
    }

    /* for about page */
    .aboutgrid{
        display: inline-block;
        width: 400px;
        margin-left: 5%;
    }

    .photo{
        width: 325px;
    }

    .abtphoto{
        width: 325px;
    }

    .biotext{
        width: 325px;
        overflow: hidden;
    }
  
    .socials{
        margin-left: 30%;
    }

  }
  /* FOR TABLET LAYOUT */
  @media only screen and (min-width:800px) and (max-width:1280px){
    .maingrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-row-gap: 14px;
        width: 90%;
        margin-top: 10px;
        margin-left:5%;
    }

    /* for about page */
    .aboutgrid{
        display: inline-block;
        width: 700px;
        margin-left: 17%;
    }

    .photo{
        width: auto;
    }

    .abtphoto{
        width: 500px;
    }

    .biotext{
        width: 500px;
    }
  
    .socials{
        margin-left: 40%;
    }

  }