body,html {
    padding: 0;
    margin: 0;
    display: grid;
    background-color: #FFF8CE;
}

.menu{
    height: 50px;
    background-color:#FFD13B;
}
.main {
    height: 2900px;
    background-color:#FFF4AF;
}
.splash_image{
    height: 600px;
    background-color: #FFF281;
    position: relative;
}

.buy{
    height: 250px;
    width: 20%;
    background-color: #FFE400;
    margin-top: 15%;
    margin-left: 70%;
    position: absolute;
}

.album{
    height: 350px;
    background-color: #F1B81B;
    position: relative;
}

.versions{
    height:200px;
    width:80%;
    margin-left:15%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
    grid-gap: 1rem;
}

.item{
    height:200px;
    background-color: #FFE36E;
    margin-top:90px;
}

.video{
    height:700px;
    background-color:#FFC96B;
    position:relative;
}

.store{
    height:600px;
    background-color:#FFF4AF;
}

.new_arrivals{
    height:275px;
    width:70%;
    margin-left:15%;
    margin-top:10%;
    background-color:#FFAA00;
    position:absolute;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 45% 45%;
    grid-gap: 1rem;
}

.merch{
    margin-left:5%;
    margin-top:5%;
    width:90%;
    background-color:#FFDB48;
}

.single{
    height:550px;
    background-color:#FFBE3B;
    position:relative;
}

.artwork{
    height: 300px;
    width:70%;
    background-color:#FFAA00;
    position: absolute;
    margin-top: 100px;
    margin-left:15%;
}

.stream{
    height:35px;
    width:25%;
    margin-top:200px;
    margin-left:60%;
    background-color:#FFE9BE;
    position: absolute;
}

.footer{
    height:20px;
    background-color:#FBD699;
}
