body {
    padding: 0;
    margin: 0;
    background-color: #E3F6DF;
}

.menu {
    margin-left:25%;
    margin-top:10px;
    width: 50%;
    height: 50px;
    background-color:#98E9C0;
    position: relative;
    
}

.top {
    width: 100%;
    height: 20px;
    background-color: #98E9C0;

}

.bottom {
    width: 100%;
    height: 20px;
    margin-top:20px;
    background-color: #388D73;

}